[package]
name = "okapi-operation"
description = "Procedural macro for generating OpenAPI operation specification (using okapi)"
version = "0.2.0"
authors = ["Andrey Kononov flowneee3@gmail.com"]
edition = "2021"
license = "MIT"
keywords = ["rust", "openapi", "swagger", "axum"]
categories = ["web-programming"]
readme = "../README.md"
repository = "https://github.com/Flowneee/okapi-operation"

[dependencies]
okapi-operation-macro = { path = "../okapi-operation-macro", version = "0.1.0", optional = true }

anyhow = "1"
http = "0.2"
okapi = { version = "0.7.0-rc.1", features = ["preserve_order"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
bytes = "1.4.0"

axum = { version = "0.6", optional = true }
tower = { version = "0.4", default-features = false, optional = true }
paste = { version = "1", optional = true }
serde_yaml = { version = "0.8", optional = true }

[dev-dependencies]
axum = { version = "0.6", features = ["headers"] }
serde = { version = "1", features = ["derive"] }

[features]
default = ["macro", "axum-integration"]

macro = ["okapi-operation-macro"]

axum-integration = ["axum", "paste", "tower"]
axum-yaml = ["serde_yaml", "axum-integration"]

[package.metadata.docs.rs]
all-features = true
